body {
    background-color: #333333;
    width: 350px;
    height: fit-content;
}

.wrapper {
    margin: 1rem;
}

.todo-container {
    display: flex;
    flex-direction: column;
}

.todo-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.todo-controls button {
    background-color: transparent;
    border: none;
}

/* FONTS */
h1 {
    color: white;
}